.carrinho {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 50px 100px;
  @media(max-width: 850px) {
   align-items: center;
   margin-bottom: 10px;
   padding: 1rem 1.5rem;
  }
}

.total {
  background-color: #EFF9FF;
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  padding: 16px;
  width: 100%;
  @media(max-width: 480px) {
   padding: 20px 0;
   flex-direction: column;
   align-items: center;
   row-gap: 20px;
  }
}